<h1>Your order summary</h1>

{{> addons noDeleteButton=true}}
<a href="/order/thanks" class="btn">Finish my order</a> <strong class="total"> Total of: {{pricify sum}} PLN </strong>

{{> cookie-preview }}

{{>go-home}}
